<footer>
    <div class = "footerContainer">
        <div class = "container">
            <div class = "row justify-content-center">
                <div class = "col-md-2 ht50">
                    <p class = "website-name">Grailed</p>
                </div>
                <div class = "col-md-10 ht50" style="max-width: 800px; padding-top: 10px;">              
                    <ul class = "list-unstyled links">
                        <a href="/help" class = "links">CONTACT US</a>
                        <a href="/about" class = "links">ABOUT</a>
                    </ul>
                    <div class="socialIcons">
                        <a href="https://twitter.com/grailed"><i class = "fa-brands fa-twitter"></i></a>
                        <a href="https://www.facebook.com/grailed"><i class = "fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/grailed"><i class = "fa-brands fa-instagram"></i></a>
                        <a href="https://www.youtube.com/channel/UCrcycxtz_yoAfar-qGPMJkA"><i class = "fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class = "footerBottom">
        <p class = "copywright">© 2024  Grailed</p>
    </div>
</footer>