<header>
    <center>
        <nav class="navbar navbar-expand-sm navbar-dark">
            <a href="/">
                <img src="/images/logo.jpg" alt="" class = "logo">
            </a>
            <div class = "search-box">
                <i class="fa-solid fa-magnifying-glass" style="padding-left: 12px;"></i>
                <input class = "search-text" type="text" name="search-text" id="search-text" placeholder="Search">
                    <a class="search-btn" href="Search.html" style="text-decoration: none;">
                        SEARCH
                    </a>
            </div>
            <div class = "collapse navbar-collapse justify-content-end" id = "navbarNav">
                <ul class ="navbar-nav">
                <li class = "nav-item active">
                    <a href="" class = "nav-link">
                        <ins class = "sell">SELL</ins>
                    </a>
                </li>
                <li class = "nav-item active">
                    <a href="Search.html" class = "nav-link regular-nav-link">
                    SHOP
                    </a>
                </li>
                <li class = "nav-item active regular-nav-link">
                    <a href="read.html" class = "nav-link">
                    READ
                    </a>
                </li>
                <li class = "nav-item active regular-nav-link">
                    <a href="read.html" class = "nav-link">
                    FOR YOU
                    </a>
                </li>
                <li class = "nav-item active">
                    <a href="#">
                        <img src="/images/heart.jpg" 
                        style="height: 30px; width: 30px; margin-top: 4px;">
                    </a>                                    
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/images/profile-empty.jpg" style="height: 45px; width: 45px; margin-top: -11px;">
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                        <li><a class="dropdown-item" href="/settings">Settings</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li id="logoutLink"><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
                </ul>
            </div>
        </nav>
    </center>
</header>