<div id="menu-bar">
    <div class = "wrapper text-center">
        <div class="btn-group">
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="#"
                    role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"
                    data-toggle="dropdown"
                    > 
                    DESIGNERS
                </a>
                <ul class="dropdown-menu" style="width: 1200px; padding-top: 0px;" 
                    aria-labelledby="dropdownMenuLink">
                    <div class="container">
                        <div class = "row">
                            <div class = "col-3" style="padding-top: 10px;">
                            <li><a class="dropdown-item menulink" href=""> 
                                DESIGNERS A-Z</a> 
                            </li> 
                            </div>
                            <div class = "col-3" style="padding-top: 10px;">
                                <ul>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Acne Studios
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Adidas
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Alexandar McQueen
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Amiri
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Balenciaga
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Bape
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Bottega Veneta
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Celine
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Chanel
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Chrome Hearts
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Comme des Garcons
                                        </a> 
                                    </li> 
                                </ul>
                            </div>
                            <div class = "col-3" style="padding-top: 10px;">
                                <ul>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Dior
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Dries Van Noten
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Fear of God
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Gucci
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Jacquemus
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Kapital
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Loewe
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Louis Vuitton
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Maison Margiela
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Nike
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Number (N)ine
                                        </a> 
                                    </li> 
                                </ul>
                            </div>
                            <div class = "col-3" style="padding-top: 10px;">
                                <ul>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Off-White
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Prada
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Raf Simons
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Rick Owens
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Saint Laurent Paris
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Stone Island
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Supreme
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Undercover
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href=""> 
                                        Vintage
                                        </a> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul> 

            </div>
            <div class="dropdown"> 
                <a class="btn dropdown-toggle menu-link btn-lg" 
                        href="#"
                        role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                    MENSWEAR
                </a> 
                <ul class="dropdown-menu dropdown-menu-center" 
                    aria-labelledby="dropdownMenuLink"> 
                    <li><a class="dropdown-item" href="/menswear"> 
                        ALL CATEGORIES
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="#"> 
                        TOPS
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="#"> 
                        BOTTOMS
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="#"> 
                        OUTERWEAR
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="#"> 
                        FOOTWEAR
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="#"> 
                        TAILORING
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="#"> 
                        ACCESSORIES
                        </a> 
                    </li>    
                </ul> 
            </div>
            <div class="dropdown"> 
                <a class="btn dropdown-toggle menu-link btn-lg" 
                    href="/womenswear"
                    role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"> 
                    WOMENSWEAR
                </a>  
                <ul class="dropdown-menu dropdown-menu-center" 
                    aria-labelledby="dropdownMenuLink"> 
                    <li><a class="dropdown-item" href="/womenswear"> 
                        ALL CATEGORIES
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="#"> 
                        TOPS
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="#"> 
                        BOTTOMS
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="#"> 
                        OUTERWEAR
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="#"> 
                        FOOTWEAR
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="#"> 
                        TAILORING
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="#"> 
                        ACCESSORIES
                        </a> 
                    </li>    
                </ul> 
            </div>
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="/sneakers"> 
                    SNEAKERS
                </a> 
            </div>
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="#"> 
                    STAFF PICKS
                </a> 
            </div>
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="/collections"> 
                    COLLECTIONS
                </a> 
            </div>  
        </div>
    </div>
</div>