<div id="menu-bar">
    <div class = "wrapper text-center">
        <div class="btn-group">
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="#"
                    role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"
                    data-toggle="dropdown"
                    > 
                    DESIGNERS
                </a>
                <ul class="dropdown-menu" style="width: 1200px; padding-top: 0px;" 
                    aria-labelledby="dropdownMenuLink">
                    <div class="container">
                        <div class = "row">
                            <div class = "col-3" style="padding-top: 10px;">
                            <li><a class="dropdown-item menulink" href=""> 
                                DESIGNERS A-Z</a> 
                            </li> 
                            </div>
                            <div class = "col-3" style="padding-top: 10px;">
                                <ul>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Acne_Studios"> 
                                        Acne Studios
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Adidas"> 
                                        Adidas
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Alexander_McQueen"> 
                                        Alexander McQueen
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Amiri"> 
                                        Amiri
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Balenciaga"> 
                                        Balenciaga
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Bape"> 
                                        Bape
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Bottega_Veneta"> 
                                        Bottega Veneta
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Celine"> 
                                        Celine
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Chanel"> 
                                        Chanel
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Chrome_Hearts"> 
                                        Chrome Hearts
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Comme_des_Garcons"> 
                                        Comme des Garcons
                                        </a> 
                                    </li> 
                                </ul>
                            </div>
                            <div class = "col-3" style="padding-top: 10px;">
                                <ul>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Dior"> 
                                        Dior
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Dries_Van_Noten"> 
                                        Dries Van Noten
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Fear_of_God"> 
                                        Fear of God
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Gucci"> 
                                        Gucci
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Jacquemus"> 
                                        Jacquemus
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Kapital"> 
                                        Kapital
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Loewe"> 
                                        Loewe
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Louis_Vuitton"> 
                                        Louis Vuitton
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Maison_Margiela"> 
                                        Maison Margiela
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Nike"> 
                                        Nike
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Number_(N)ine"> 
                                        Number (N)ine
                                        </a> 
                                    </li> 
                                </ul>
                            </div>
                            <div class = "col-3" style="padding-top: 10px;">
                                <ul>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Off-White"> 
                                        Off-White
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Prada"> 
                                        Prada
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Raf_Simons"> 
                                        Raf Simons
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Rick_Owens"> 
                                        Rick Owens
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Saint_Laurent_Paris"> 
                                        Saint Laurent Paris
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Stone_Island"> 
                                        Stone Island
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Supreme"> 
                                        Supreme
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Undercover"> 
                                        Undercover
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search/designer/Vintage"> 
                                        Vintage
                                        </a> 
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul> 
            </div>
            <div class="dropdown"> 
                <a class="btn dropdown-toggle menu-link btn-lg" 
                        href=""
                        role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                    MENSWEAR
                </a> 
                <ul class="dropdown-menu dropdown-menu-center" 
                    aria-labelledby="dropdownMenuLink"> 
                    <li><a class="dropdown-item" href="/search/menswear"> 
                        ALL CATEGORIES
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search/menswear/tops"> 
                        TOPS
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="/search/menswear/bottoms"> 
                        BOTTOMS
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="/search/menswear/outerwear"> 
                        OUTERWEAR
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search/menswear/footwear"> 
                        FOOTWEAR
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="/search"> 
                        TAILORING
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search/menswear/accessories"> 
                        ACCESSORIES
                        </a> 
                    </li>    
                </ul> 
            </div>
            <div class="dropdown"> 
                <a class="btn dropdown-toggle menu-link btn-lg" 
                    href=""
                    role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"> 
                    WOMENSWEAR
                </a>  
                <ul class="dropdown-menu dropdown-menu-center" 
                    aria-labelledby="dropdownMenuLink"> 
                    <li><a class="dropdown-item" href="/search/womenswear"> 
                        ALL CATEGORIES
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search/womenswear/tops"> 
                        TOPS
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search/womenswear/bottoms"> 
                        BOTTOMS
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="/search/womenswear/outerwear"> 
                        OUTERWEAR
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search/womenswear/footwear"> 
                        FOOTWEAR
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="/search/womenswear/bags&luggage"> 
                        BAGS & LUGGAGE
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search/womenswear/accessories"> 
                        ACCESSORIES
                        </a> 
                    </li>    
                </ul> 
            </div>
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="/search/sneakers"> 
                    SNEAKERS
                </a> 
            </div>
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="/search/staffpicks"> 
                    STAFF PICKS
                </a> 
            </div>
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="/collections"> 
                    COLLECTIONS
                </a> 
            </div>  
        </div>
    </div>
</div>