<div id="menu-bar">
    <div class = "wrapper text-center">
        <div class="btn-group">
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="#"
                    role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"
                    data-toggle="dropdown"
                    > 
                    DESIGNERS
                </a>
                <ul class="dropdown-menu" style="width: 1200px; padding-top: 0px;" 
                    aria-labelledby="dropdownMenuLink">
                    <div class="container">
                        <div class = "row">
                            <div class = "col-3" style="padding-top: 10px;">
                            <li><p class="dropdown-item menulink"> 
                                DESIGNERS A-Z</p> 
                            </li> 
                            </div>
                            <div class = "col-3" style="padding-top: 10px;">
                                <ul>
                                    <li>
                                        <p class="dropdown-item menulink"> 
                                        Dress brands
                                        </p> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Carhartt
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Kapital
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Louis Vuitton
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Maison Margiela
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Nike
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Rick Owens
                                        </a> 
                                    </li> 
                                </ul>
                            </div>
                            <div class = "col-3" style="padding-top: 10px;">
                                <ul>
                                    <li>
                                        <p class="dropdown-item menulink"> 
                                            Shoe brands
                                        </p>
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Adidas
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Balenciaga
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Jordan
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Nike
                                        </a> 
                                    </li>
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Off-White
                                        </a> 
                                    </li> 
                                    <li>
                                        <a class="dropdown-item menulink" href="/search"> 
                                        Yeezy
                                        </a> 
                                    </li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                </ul> 

            </div>
            <div class="dropdown"> 
                <a class="btn dropdown-toggle menu-link btn-lg" 
                        href=""
                        role="button" id="dropdownMenuLink"
                        data-bs-toggle="dropdown" 
                        aria-expanded="false"> 
                    MENSWEAR
                </a> 
                <ul class="dropdown-menu dropdown-menu-center" 
                    aria-labelledby="dropdownMenuLink"> 
                    <li><a class="dropdown-item" href="/search"> 
                        ALL CATEGORIES
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search"> 
                        TOPS
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="/search"> 
                        BOTTOMS
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="/search"> 
                        OUTERWEAR
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search"> 
                        FOOTWEAR
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="/search"> 
                        TAILORING
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search"> 
                        ACCESSORIES
                        </a> 
                    </li>    
                </ul> 
            </div>
            <div class="dropdown"> 
                <a class="btn dropdown-toggle menu-link btn-lg" 
                    href=""
                    role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"> 
                    WOMENSWEAR
                </a>  
                <ul class="dropdown-menu dropdown-menu-center" 
                    aria-labelledby="dropdownMenuLink"> 
                    <li><a class="dropdown-item" href="/search"> 
                        ALL CATEGORIES
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search"> 
                        TOPS
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search"> 
                        BOTTOMS
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="/search"> 
                        OUTERWEAR
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search"> 
                        FOOTWEAR
                        </a> 
                    </li>
                    <li><a class="dropdown-item" href="/search"> 
                        BAGS & LUGGAGE
                        </a> 
                    </li> 
                    <li><a class="dropdown-item" href="/search"> 
                        ACCESSORIES
                        </a> 
                    </li>    
                </ul> 
            </div>
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="/search"> 
                    SNEAKERS
                </a> 
            </div>
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="/search"> 
                    STAFF PICKS
                </a> 
            </div>
            <div class="dropdown"> 
                <a class="btn menu-link btn-lg" 
                    href="/search"> 
                    COLLECTIONS
                </a> 
            </div>  
        </div>
    </div>
</div>