<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grailed: Fashion Marketplace</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="stylesheets/index.css">
    <script src="https://kit.fontawesome.com/18647b6bfa.js" crossorigin="anonymous"></script>
    <script src="javascripts/functions.js"></script>
    <style>
      .grid {
        display: grid;
        grid-template-columns: 250px 1fr;
      }
    </style>
</head>
<body>
    <!-- Include the header -->
    <% if (loggedIn) { %>
        <% include header_loggedin.ejs %>
    <% } else { %>
        <% include header.ejs %>
    <% } %>

    <!-- Include the menubar -->
    <% include menubar.ejs %>
    <div class="grid">
      <div>
        <form>
          <fieldset>
            <legend>Filters</legend>
            <div>
              <label>
                <input type="checkbox" id="Menswear" name="filter" value="Menswear" />
                Menswear
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Womenswear" name="filter" value="Womenswear" />
                Womenswear
              </label>
            </div>
            <p>Designers</p>
            <div>
              <label>
                <input type="checkbox" id="Carhartt" name="filter" value="Carhartt" />
                Carhartt
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Kapital" name="filter" value="Kapital" />
                Kapital
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Louis Vuitton" name="filter" value="Louis Vuitton" />
                Louis Vuitton
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Maison Margiela" name="filter" value="Maison Margiela" />
                Maison Margiela
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Nike" name="filter" value="Nike" />
                Nike
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Rick Owens" name="filter" value="Rick Owens" />
                Rick Owens
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Adidas" name="filter" value="Adidas" />
                Adidas
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Balenciaga" name="filter" value="Balenciaga" />
                Balenciaga
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Jordan" name="filter" value="Jordan" />
                Jordan
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Off-White" name="filter" value="Off-White" />
                Off-White
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Yeezy" name="filter" value="Yeezy" />
                Yeezy
              </label>
            </div>
            <p>Categories</p>
            <div>
              <label>
                <input type="checkbox" id="Tops" name="filter" value="Tops" />
                Tops
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Bottoms" name="filter" value="Bottoms" />
                Bottoms
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Outerwear" name="filter" value="Outerwear" />
                Outerwear
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Footwear" name="filter" value="Footwear" />
                Footwear
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Tailoring" name="filter" value="Tailoring" />
                Tailoring
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Bags & Luggage" name="filter" value="Bags & Luggage" />
                Bags & Luggage
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Accessories" name="filter" value="Accessories" />
                Accessories
              </label>
            </div>
            <p>Special</p>
            <div>
              <label>
                <input type="checkbox" id="Staff Picks" name="filter" value="Staff Picks" />
                Staff Picks
              </label>
            </div>
            <div>
              <label>
                <input type="checkbox" id="Collections" name="filter" value="Collections" />
                Collections
              </label>
            </div>
            <button type="submit">Apply Filters</button>
          </fieldset>
        </form>
      </div>
        
      <div>
        <% for (product of products) { %>
          <img src=<%= product.directory %> alt="" />
        <% } %>
        <%if (!locals.products || products.length == 0) { %>
          <p> Try a different filter! </p>
        <% } %>
      </div>
    </div>
    
    <% include footer.ejs %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
</body>
</html>