<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grailed: Fashion Marketplace</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://kit.fontawesome.com/18647b6bfa.js" crossorigin="anonymous"></script>
    <script src="/javascripts/functions.js"></script>

</head>
<body>
    <!-- Include the header -->
    <% if (loggedIn) { %>
        <% include header_loggedin.ejs %>
    <% } else { %>
        <% include header.ejs %>
    <% } %>

    <!-- Include the menubar -->
    <% include menubar.ejs %>
    
    <div class="container" style="padding-top: 40px;">
      <div class="listing-form" style="width: 800px; margin: 0 auto;">
          <form action="/sell/new-listing" method="POST" onsubmit="return validateNewItem(event)">
              <div class="mb-3">
                  <h2>Add a new listing</h2>
                  <label for="itemName" class="form-label">Item Name</label>
                  <input type="text" class="form-control" id="title" name="title" required>
              </div>
              <div class="mb-3">
                  <label for="designer" class="form-label">Designer</label>
                  <input type="text" class="form-control" id="designer" name="designer" required>
              </div>
              <div class="mb-3">
                  <label for="category" class="form-label">Category</label>
                  <select class="form-select" id="category" name="category" required>
                      <option value="">Select Category</option>
                      <option value="Menswear">Menswear</option>
                      <option value="Womenswear">Womenswear</option>
                  </select>
              </div>
              <div class="mb-3">
                  <label for="subcategory" class="form-label">Subcategory</label>
                  <select class="form-select" id="subcategory" name="subcategory" required onchange="updateSizeOptions()">
                      <option value="">Select Subcategory</option>
                      <option value="Tops">Tops</option>
                      <option value="Bottoms">Bottoms</option>
                      <option value="Outerwear">Outerwear</option>
                      <option value="Footwear">Footwear</option>
                      <option value="Accessories">Accessories</option>
                  </select>
              </div>
              <div class="mb-3">
                <label for="style" class="form-label">Style</label>
                <select class="form-select" id="style" name="style" required>
                    <option value="">Select Style</option>
                    <option value="Streetwear">Streetwear</option>
                    <option value="Luxury">Luxury</option>
                    <option value="Classic">Classic</option>
                    <option value="Elegant">Elegant</option>
                </select>
            </div>
              <div class="mb-3">
                  <label for="size" class="form-label">Size</label>
                  <select class="form-select" id="size" name="size" required>
                      <option value="">Select Size</option>
                  </select>
              </div>
              <div class="mb-3">
                  <label for="price" class="form-label">Price</label>
                  <input type="number" class="form-control" id="price" name="price" required>
              </div>
              <button type="submit" class="btn btn-primary signup">Submit</button>
          </form>
      </div>
  </div>
    <div style="height: 700px;"> </div>

    <!-- Include the menubar -->
    <% include footer.ejs %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
</body>
</html>