.box{
    border: 1px solid;
  }
  .ht50{
    height: 50px;
  }
  .ht100 {
    height: 100px;
  }
  
  
  .white{
    background-color: white;
  }

  .logo{
    height: 63px;
    width: 126px;
  }
  
  .menu-link{
    color: black;
    font-weight:  bold;
    text-decoration: none;
    font-size: 14px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .navbar {
    height: 80px !important;
    width: 1250px;
    background-color: white;
    align-items: center;
  }
  
  nav .navbar-nav li a{
    color: black !important;
  }

  .nav-item{
    padding: 2px;
  }
  
  .search-box{
    background-color: white;
    display: inline-block;
    border: 1px solid;
    padding: 5px;
    margin-left: 40px;
    margin-top: 2px;
  }

  .search-text{
    width: 450px;
    border: 0;
    outline: 0;
    padding-left: 12px;
  }
  
  .search-btn{
    border: 1px solid;
    border-color: lightgrey;
    color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    font-weight: bold;
  }

  .sell{
    border: 1px solid;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .overlay-text .mainlinks{
    border: 1px solid;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color:white
  }

  .login{
    border: 1px solid;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: lightgrey;
  }

  .signup{
    border: 1px solid;
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .regular-nav-link{
    font-weight: bold;
    font-size: 14px;
  }
  
  .dropdown:hover .dropdown-menu{ 
    display: block;
    color: white;
    background-color: white;
  }

  #menu-bar{
    border-top: 1px solid;
    border-color: lightgrey;
  }
  
  .dropdown-menu a{
    color: black;
  }
  
  .textbox{
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    font-size: 40px;
}

.image-container {
  position: relative;
  width: 100vw; /* Full width of the viewport */
  height: auto;
  overflow: hidden; /* Hide any overflow if the image is larger than the viewport */
}

.image-container img {
  width: 100%; /* Make the image fill the width of its container */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Remove any extra space around the image */
}


.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.overlay-text h1 {
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.overlay-text p {
  font-size: 32px;
  margin-top: 10px;
  color: white;
  text-align: center;
  padding-bottom: 30px;
}
  .btn-lg:hover {
    color: blue;
    background-color: white;
  }
  
  footer{
    background-color: black;
  }
  
  .footerBottom{
    background-color: black;
    padding: 2px;
    text-align: center;
  }
  
  
  .socialIcons{
    display: flex;
    justify-content: right;
    color: white;
  }
  
  .socialIcons a{
    padding: 10px;
  }
  
  .socialIcons a i{
    font-size: 1em;
    color:white;
    opacity: 0.9;
  }
  
  .footerNav{
    margin: 30px 0;
  }
  
  .footerNav ul{
    display: flex;
    justify-content: center;
  }
  
  .copywright{
    color: white;
    font-size: 15px;
    padding-right: 250px;
  }
  
  .footerNav ul a{
    color: white;
    margin: 20px;
    text-decoration: dotted;
  
  }
  
  .disclaimer{
    color: white;
    text-decoration: dotted;
    padding-left: 5px;
  }
  
  ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
  }
  
  .website-name{
    color: white;
    display: inline-block;
    text-align:left; 
    vertical-align: middle;
    padding-right: 100px;
    padding-top: 10px;
  }
  
  
  .links{
    color: white;
    text-decoration: dotted;
    padding-right : 20px;
    padding-left: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 14px;
  }
  
  .contact{
    color: white;
    text-decoration: dotted;
    display: inline-block;
    font-size: 14px;
    padding-left: 20px;
  }

  .login{
    border-radius: 0;
    color: black
  }

  .login:hover{
    color: blue;
    background-color: white;
  }

  .signup{
    color: white;
    border-radius: 0;
    background-color: black;
  }

  .signup:hover{
    color: blue;
    background-color: rgb(48, 48, 48);
  }

  .modal-content {
    width: 80%;
    margin: 0 auto;
  }
  .modal-body {
    padding: 0;
  }
  .btn-close {
    position: absolute;
    right: 0;
    padding: 1em;
  }
  h1 {
    font-size: 2.3em;
    color: black;
    font-weight: bold;
  }
  .myform {
    padding: 2em;
    max-width: 100%;
    color: #fff;
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
    border-radius: 10px;
  }
  @media (max-width: 576px) {
    .myform {
      max-width: 90%;
      margin: 0 auto;
    }
  }
  .form-control:focus {
    box-shadow: inset 0 -1px 0 #7e7e7e;
  }
  .form-control {
    background-color: inherit;
    color: black;
    padding-left: 0;
    border: 1px solid #000;
    border-radius: 0;
  }
  .form-label{
    color: black;
  }
  .myform .btn {
    width: 100%;
    font-weight: 800;
    background-color: black;
    border-radius: 0;
    padding: 0.5em 0;
  }
  .myform .btn:hover {
    background-color: rgb(48, 48, 48);
    color: rgb(226, 226, 226);
    border-color: da;
  }
  p {
    text-align: left;
    padding-top: 2em;
    color: grey;
  }
  p a {
    color: black;
  }